:root {
	/* COLORS */

	--accent-color: #18a0fb;
	--title-color: #000000;
	--text-color: rgba(0, 0, 0, 0.8);
	--text-color-light: #ffffff;
	--main-bg-color: #ffffff;
	--secondary-bg-color: #f5f5f5;
	--decoration-color: rgba(0, 0, 0, 0.5);

	/* TYPEFACES */

	--main-font: 'Montserrat', sans-serif;
}

body {
	font-family: var(--main-font);
	background-color: var(--main-bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: 0;
	color: var(--title-color);
}

p {
	margin-top: 0;
	margin-bottom: 0;
	color: var(--text-color);
}

ul,
ol {
	margin: 0;
	padding-left: 0;
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
}

button {
	padding: 0;
	cursor: pointer;
}

address {
	font-style: normal;
}

/* ============= UTILITIES ============= */

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* ============= COMPONENTS ============= */

.section {
	padding-top: 120px;
	padding-bottom: 120px;
}

.container {
	width: 1440px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0 auto;
}

.btn {
	display: inline-block;
	min-width: 130px;
	height: 40px;
	font-weight: 500;
	text-align: center;
	border: 1px solid transparent;
	border-radius: 6px;
}

/* ============= HEADER ============= */

.header {
}

.nav {
	display: flex;
	align-items: center;
}
.logo {
}

.nav-list {
	display: flex;
	align-items: center;
	gap: 40px;
	margin-left: 70px;
}
.nav-item {
}
.nav-link {
	display: block;
	padding-top: 21px;
	padding-bottom: 21px;
	font-weight: 500;
	color: var(--accent-color);
}

.nav-link:is(:hover, :focus) {
	color: var(--title-color);
}

.nav-link,
.auth-btn {
	font-size: 15px;
	line-height: 1.2;
}

.auth-list {
	display: flex;
	gap: 12px;
	margin-left: auto;
}

.auth-btn {
	padding: 11px 24px;
}

.cta-btn,
.join-btn {
	min-width: 192px;
	height: 52px;
	padding: 15px 24px;
	font-size: 17px;
	line-height: 1.24;
}

.btn-base {
	color: var(--accent-color);
	background-color: var(--main-bg-color);
	border-color: var(--accent-color);
}

.btn-base:is(:hover, :focus) {
	color: var(--title-color);
}

.btn-accent {
	color: var(--text-color-light);
	background-color: var(--accent-color);
	border-color: var(--accent-color);
}

.btn-accent:is(:hover, :focus) {
	color: var(--title-color);
}

/* ============= HERO ============= */

.hero {
	padding-bottom: 156px;
	text-align: center;
}

.hero-title {
	margin-bottom: 40px;
	font-size: 56px;
	font-weight: 400;
	line-height: 1.43;
}

/* ============= BENEFITS ============= */

.benefits {
}
.section-title {
}
.benefits-title {
	margin-bottom: 60px;
	font-size: 48px;
	line-height: 1.5;
	font-weight: 400;
}
.benefits-list {
	display: flex;
	flex-wrap: wrap;

	row-gap: 60px;
	column-gap: 150px;
}
.benefits-item {
	width: calc((100% - 150px) / 2);
}

.benefits-item-title {
	margin-bottom: 24px;
	font-size: 24px;
	line-height: 1.5;
	font-weight: 700;
}

.benefits-excerpt {
	margin-bottom: 32px;
	font-size: 18px;
	line-height: 1.67;
	font-weight: 400;
}

.more-btn {
	padding: 11px 22px;
}

/* ============= PORTFOLIO ============= */

.portfolio-item:nth-child(2n) {
	background-color: var(--secondary-bg-color);
}

.portfolio-item > .container {
	display: flex;
	align-items: center;
	gap: 84px;
	padding-top: 80px;
	padding-bottom: 80px;
}

.portfolio-item:nth-child(2n) > .container {
	flex-direction: row-reverse;
}

.portfolio-img {
}
.portfolio-subtitle {
	margin-bottom: 24px;
	font-size: 24px;
	line-height: 1.5;
	font-weight: 700;
}
.portfolio-text {
	font-size: 18px;
	line-height: 1.67;
	font-weight: 400;
}

/* ============= CLIENTS ============= */

.clients {
	text-align: center;
}

.clients-title {
	margin-bottom: 30px;
	font-size: 48px;
	line-height: 1.5;
	font-weight: 400;
}

.clients-text {
	margin-bottom: 80px;
	font-size: 36px;
	line-height: 1.39;
	font-weight: 400;
}

.clients-list {
	display: flex;
	flex-wrap: wrap;
	column-gap: 84px;
	row-gap: 64px;
	width: 944px;
	margin: 0 auto;
}

.clients-item {
	width: calc((100% - 84 * 3) / 4);
}
.clients-img {
}

/* ============= JOIN ============= */

.join {
	background-color: var(--secondary-bg-color);
}
.join-content {
	display: flex;
	align-items: center;
	gap: 84px;
}

.join-text {
	font-size: 36px;
	line-height: 1.39;
	font-weight: 400;
}

.join-list {
	display: flex;
	align-items: center;
	gap: 45px;
}

.join-item {
}

/* ============= FOOTER ============= */

.footer-wrapper {
	display: flex;
	align-items: center;
}

.footer .logo {
	margin: 0 auto;
}

.footer-list {
	display: flex;
	align-items: center;
	gap: 20px;
}

.footer-list.right {
	text-align: end;
}

.footer-item {
	min-width: 173px;
}

.footer-link {
	font-size: 15px;
	line-height: 1.5;
	font-weight: 700;
	color: var(--title-color);
}

.footer-wrapper {
	padding-bottom: 40px;
	margin-bottom: 80px;
	border-bottom: 1px solid var(--decoration-color);
}

.socials-list {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 21px;
	margin-bottom: 40px;
}

.socials-item {
	border-radius: 50%;
}

.socials-link {
	display: block;
}
.socials-img {
}

.copyright {
	font-size: 15px;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
}
